/* A Free Design by Bryant Smith (bryantsmith.com) */
body {
	margin: 0;
	padding: 0;
	text-align: left;
	font-family: "Adobe Garamond Pro Bold", Georgia, "Times New Roman",
		Times, serif;
	font-size: 13px;
	color: #000000;
	background: #FFFFFF url(background.png);
	background-repeat: repeat-x;
}

* {
	margin: 0 auto 0 auto;
	text-align: left;
}

#page {
	display: block;
	height: auto;
	position: relative;
	width: 670px;
}

.quote {
	display: block;
	height: auto;
	margin-left: 663px;
	margin-top: -82px;
	position: absolute;
	z-index: 2;
}

.answer {
	
}

#mainPicture {
	display: block;
	position: relative;
	width: 670px;
	height: 293px;
	background-color: #FFFFFF;
}

#mainPicture .picture {
	background-image: url("spark_logo_blue.png");
	background-repeat: no-repeat;
	height: 271px;
	position: relative;
	top: 79px;
	width: 334px;
}

.toc {
	border: 2px solid black;
	font-family: "lucida console", "monaco", "andale mono",
		"bitstream vera sans mono", "consolas", monospace;
	font-size: 15px;
	height: 380px;
	margin-left: 15px;
	margin-top: 20px;
	padding: 10px;
	width: 381px;
	color: #444444;
	background: none repeat scroll 0 0 #F4F5F5;
}

.toc a {
	text-decoration: none;
}

.toc a:hover {
	text-decoration: underline;
	color: black;
}

.topNaviagationLink {
	text-align: center;
	position: relative;
	margin-top: 30px;
	font-size: 18px;
	margin-left: -10px;
	width: 121px;
	height: 35px;
	line-height: 35px;
	float: left;
	color: #CEEAEE;
	font-family: "lucida console", "monaco", "andale mono",
		"bitstream vera sans mono", "consolas", monospace;
	z-index: 2;
}

.topNaviagationLink a {
	text-transform: uppercase;
	text-decoration: none;
	color: #444444;
}

.topNaviagationLink a:hover {
	text-align: center;
	border-bottom: none;
	color: #000000;
	display: block;
	width: 121px;
	height: 35px;
	line-height: 35px;
	background-image: url(tab.png);
}

#headerTitle {
	position: relative;
	top: 30px;
	left: 40px;
	font-size: 25px;
	color: #FFFFFF;
	font-family: "Adobe Garamond Pro Bold", Georgia, "Times New Roman",
		Times, serif;
}

#headerSubtext {
	position: relative;
	top: 30px;
	left: 50px;
	font-size: 14px;
	color: #A9C8FA;
	font-family: "Adobe Garamond Pro Bold", Georgia, "Times New Roman",
		Times, serif;
}

.contentBox {
	width: 670px;
	height: auto;
	background-color: #FFFFFF;
	margin-top: 10px;
}

.contentBox .innerBox {
	position: relative;
	width: 650px;
	height: auto;
	top: 10px;
	margin-left: 10px;
	background-image: url(content_back.png);
	background-repeat: repeat-x;
	padding-bottom: 35px;
}

.contentTitle {
	color: #444444;
	font-size: 19px;
	font-weight: bold;
	margin-bottom: 0;
	margin-left: 60px;
	margin-top: 15px;
	padding-top: 60px;
	text-align: center;
}

.contentText {
	font-size: 13px;
	line-height: 24px;
	margin-left: 13px;
	margin-right: 13px;
}

#footer {
	width: 670px;
	height: 16px;
	background: url(footer.png) no-repeat;
	text-align: center;
	font-size: 9px;
	font-family: Arial, Helvetica, sans-serif;
	color: #386172;
	padding-top: 5px;
}

#footer a {
	text-decoration: none;
	font-size: 9px;
	color: #111111;
}

html,body {
	text-align: center;
}

p {
	text-align: left;
}

body {
	background-color: #FFFFFF;
	color: #000000;
	font-family: helvetica, sans-serif;
	font-size: 100%;
	line-height: 1.25;
	margin: 0;
	padding: 0;
}

.getting_started {
	
}

.getting_started_head {
	padding-bottom: 10px;
	padding-top: 24px;
}

.getting_started_head_inner {
	font-size: 20px;
}

.getting_started_head_loads {

}

.normal a {
	text-decoration: underline;
}

.normal a:hover {
	color: black;
}

.session {
   width: 862px;
}

.transform {
   width: 720px;
}

.readme_text {
	font-family: "lucida console", "monaco", "andale mono",
		"bitstream vera sans mono", "consolas", monospace;
}

.normal_text {
	font-family: "lucida console", "monaco", "andale mono",
		"bitstream vera sans mono", "consolas", monospace;
	text-align: justify;
}

.normal {
	font-family: "lucida console", "monaco", "andale mono",
		"bitstream vera sans mono", "consolas", monospace;
}

.normal_obs {
	font-family: "lucida console", "monaco", "andale mono",
		"bitstream vera sans mono", "consolas", monospace;
	font-size: 15px;
	font-weight: bold;
}

#content {
	border-top: 2px solid #837D7C;
	color: #111111;
	margin: 7px auto;
	max-width: 52em;
	min-width: 27em;
	padding-top: 10px;
}

h1,h2,h3,h4,h5,h6 {
	color: #444444;
}

h1 a,h2 a,h3 a {
	color: #000000;
}

h1 {
	font-size: 2em;
	letter-spacing: -1px;
	margin-bottom: 0;
}

h2 {
	font-size: 1.5em;
	letter-spacing: -1px;
	margin: 1.25em 0 -0.32em;
}

h3 {
	font-size: 1.1em;
	letter-spacing: -1px;
	margin: 1.8em 0 -0.25em;
}

h3 code {
	color: #000000;
	font-size: 1.1em;
}

a {
	color: #000000;
	text-decoration: underline;
}

a:hover {
	color: #991100;
	text-decoration: underline;
}

a img {
	border: medium none;
}

a.out {
	background: url("/images/link-out.gif") no-repeat scroll right center
		transparent;
	padding-right: 12px;
}

code,pre,textarea,tt {
	font-family: "lucida console", "monaco", "andale mono",
		"bitstream vera sans mono", "consolas", monospace;
}

pre {
	background: none repeat scroll 0 0 #F4F5F5;
	border: 2px solid #D5D0D2;
	color: #111111;
	font-size: 0.85em;
	line-height: 1.15;
	padding: 0.5em;
}

code,tt {
	color: #222222;
	font-size: 0.85em;
}

h1 code,h2 code,h3 code,h4 code {
	color: #111111;
}

pre code {
	color: #232323;
	font-size: 1.4em;
}

pre {
	overflow: hidden;
}

div.post {
	margin: 2em 0;
}

div.post h1 a {
	text-decoration: none;
}

div.post h1 a:hover {
	text-decoration: underline;
}

p.meta {
	color: #555555;
	font-size: 0.8em;
	margin-top: 0;
}

body#about ul li {
	margin-bottom: 20px;
}

body#about #content strong,body#about #content a {
	font-weight: bold;
}

#book .maruku_toc {
	margin: 1em 0;
}

#book .maruku_toc ul:first-child {
	padding-left: 0;
}

#book pre {
	overflow: auto;
}
